/*------------------------------------------------------------------
* Project:        There4you
* Author:         There4you
* URL:            http://there4you.in
* Version:        1.0.0
* Created:        28/06/2018
* Last change:    28/06/2018
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
* Table of Content
* 1. Header
* 2. Navbar Mini
* 3. Sticky Header
* 4. Hero Image
* 5. Page Title & Breadcrumb
* 6. Main Search Form
* 7. Sidebar
* 8. Sorting
* 9. Pager
* 10. Featured Items
* 11. Destinations
* 12. Tour Package
* 13. itinerary
* 14. Why us
* 15. Testimonial
* 16. Newsletter
* 17. About Us
* 18. Review
* 19. Faq
* 20. Payment
* 21. Confirmation
* 22. Social
* 23. Contact Us
* 24. Blog
* 25. Image Overlay
* 26. Footer
* 27. Sign-in/up
-------------------------------------------------------------------*/

::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
   background: linear-gradient(#f9b620, #f26724) !important; 
}
::-moz-scrollbar{
    width: 10px;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
html, body{
    overflow-x: hidden;
}

/**
 * Header
 */

.navbar {
    border-bottom: 0;
    min-height: 0;
    margin: 0;
}

.navbar-primary {
    background: #27283c;
}

.navbar-bottom {
    background: #FFF;
}


/* Logo */

.navbar-logo {
    float: left;
    display: block;
    margin-right: 10px;
    padding: 5px 0 15px;
}

.navbar-logo img {
    height: 45px;
    width: 150px;
}


/* Phone at Header */

.navbar-phone {
    font-weight: 600;
    font-size: 14px;
    color: #636363;
    line-height: 50px;
    text-align: right;
    display: inline-flex;
}


/* Main Menu Dropdown */

.navbar-nav {
    margin: 0;
}

.navbar-nav li a {
    font-weight: 600;
    font-size: 13px;
    color: #636363;
}

.navbar-nav > li {
    margin-right: 30px;
}

.navbar-nav > li > a {
    line-height: 50px;
    padding: 0;
}

.navbar-nav > li > a:hover {
    color: rgb(242, 103, 36);
}

.navbar-nav li {
    position: relative;
}

.navbar-nav li ul {
    z-index: 9999;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 190px;
    display: none;
    border: 1px solid #E3E3E3;
    border-top: 2px solid #F56961;
    background: #FFF;
    padding: 20px;
}

.navbar-nav li ul li a {
    border-bottom: 0;
    display: block;
    padding: 8px 0;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.25;
    font-weight: 400;
}

.navbar-nav li > ul > li:last-child > a,
.navbar-nav li > ul > li > ul > li:last-child > a {
    border-bottom: 0;
}

.navbar-nav li ul li:hover > a {
    color: #D65049;
}

.navbar-nav li ul li ul {
    position: absolute;
    left: 169px;
    top: 0;
}


/* Mega Menu */
.active{
    color:orange !important;
}
.navbar-nav > li.mega-menu {
    position: inherit!important;
    left: 0;
    color: #636363;
}

.navbar-nav > li.mega-menu ul {
    left: 0%;
    width: 100%;
    top: 50px;
    padding: 0 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav > li.mega-menu:hover > a,
.navbar-nav > li.mega-menu > a:hover,
.navbar-nav > li.dropdown:hover > a,
.navbar-nav > li.dropdown > a:hover,
.navbar-nav > li.dropdown.active > a,
.navbar-nav > li.dropdown.active > a:hover,
.navbar-nav > li:hover > a,
.navbar-nav > li.active > a {
    color: orange;
    background: none;
}

.navbar-nav > li.mega-menu ul li a:hover {
    color: #D65049;
}


/* Menu Arrow */

.navbar-arrow > ul > li .arrow-indicator {
    margin-left: 7px;
    color: #CCC;
}

.navbar-arrow ul ul > li .arrow-indicator {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    font-size: 16px;
    color: #CCC;
}

.megamenu-container .arrow-indicator {
    display: none !important;
}

@media (min-width: 768px) {
    .navbar-nav > li.mega-menu ul {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .navbar-nav > li.mega-menu ul {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .navbar-nav > li.mega-menu ul {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .navbar {
        -webkit-transition: all 0.1s ease-in-out 0s;
        -moz-transition: all 0.1s ease-in-out 0s;
        -ms-transition: all 0.1s ease-in-out 0s;
        -o-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
    }
    .navbar-brand {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-logo {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        margin-top: 10px;
    }
    .navbar-nav li ul li a {
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    .navbar-nav > li > a {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .navbar-sticky .navbar-logo {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .navbar-logo {
        padding: 0;
        margin: 0;
    }
    .navbar-logo img {
        height: 20px;
        margin: 0;
    }
    .navbar-arrow > ul > li .arrow-indicator,
    .navbar-arrow ul ul > li .arrow-indicator {
        display: none !important;
    }
    .navbar-sticky .navbar-logo {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative !important;
        clear: both;
    }
    .navbar-logo img {
        height: 18px;
    }
    .navbar-logo {
        margin-top: 5px;
        margin-bottom: 5px;
        float: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 23px;
    }
}

@media (max-width: 479px) {}


/**
 * Navbar Mini
 */

.navbar-mini {}

.navbar-mini > ul {
    line-height: 55px;
    margin: 0;
    margin-top: -2px;
    padding: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.navbar-mini > ul > li {
    float: left;
    margin-left: 30px;
}

.navbar-mini > ul > li:last-child {
    border-right: none;
}

.navbar-mini > ul > li > a {
    color: rgb(179, 179, 179);
    font-size: 13px;
    font-weight: 600;
}

.navbar-mini > ul > li > a:hover,
.navbar-mini > ul > li > a:focus {
    color: rgb(253, 253, 253);
}

.navbar-mini > ul > li > a.btn {
    border: 2px solid #FFF;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-mini > ul > li > a.btn:hover,
.navbar-mini > ul > li > a.btn:focus {
    border-color: rgba(255, 255, 255, 0.8);
}

.navbar-mini .dropdown-menu {
    min-width: 80px;
    padding: 10px;
}

.navbar-mini .dropdown-menu > li > a {
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 400;
}

.navbar-mini .dropdown-menu > li:first-child > a {
    padding-top: 5px;
}

.navbar-mini .dropdown-menu > li:last-child > a {
    padding-bottom: 5px;
}

.navbar-mini .dropdown-menu > li > a:hover,
.navbar-mini .dropdown-menu > li:hover > a,
.navbar-mini .dropdown-menu > li > a:focus {
    color: #BA0600 !important;
    background: none !important;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .navbar-mini {
        margin-right: 45px;
    }
    .navbar-mini > ul {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        line-height: 50px;
    }
    .navbar-mini > ul > li > a.btn {
        padding: 7px 10px;
    }
}

@media (max-width: 767px) {
    .navbar-mini > ul > li {
        margin-left: 10px;
    }
    .navbar-mini > ul > li > a.btn {
        border: 0;
    }
}

@media (max-width: 479px) {
    .navbar-mini {
        margin-right: 35px;
    }
    .navbar-mini > ul > li {
        margin-left: 0;
    }
}


/**
 * Sticky Header
 */

.navbar-sticky {
    border-color: #27283c;
}

.navbar-sticky hr {
    display: none;
}

.navbar-sticky.navbar-primary {
    padding-top: 0;
}

.navbar-sticky .navbar-logo {
    padding-top: 5px;
    padding-bottom: 8px;
}

.navbar-sticky .navbar-phone {
    line-height: 40px;
}

.navbar-sticky .navbar-nav > li > a {
    line-height: 40px;
}

.navbar-sticky .navbar-nav > li > a:hover,
.navbar-sticky .navbar-nav > li > a:focus {
    color: #D65049;
    background-color: transparent
}

.navbar-sticky .navbar-nav > li > ul {
    top: 40px;
}

.navbar-sticky .navbar-nav > li.mega-menu ul {
    top: 40px;
}

.navbar-sticky .navbar-nav > .active > a,
.navbar-sticky .navbar-nav > .active > a:hover,
.navbar-sticky .navbar-nav > .active > a:focus {
    color: orange;
    background-color: transparent;
}

.navbar-sticky .navbar-nav > .disabled > a,
.navbar-sticky .navbar-nav > .disabled > a:hover,
.navbar-sticky .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}

.navbar-sticky .navbar-second {
    padding-top: 5px;
}

@media (min-width: 768px) {
    .navbar-sticky {
        -webkit-box-shadow: 0px 3px 8px -6px rgba(0, 0, 0, 0.43);
        -moz-box-shadow: 0px 3px 8px -6px rgba(0, 0, 0, 0.43);
        box-shadow: 0px 3px 8px -6px rgba(0, 0, 0, 0.43);
    }
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .navbar-sticky .navbar-logo {
        padding-top: 7px;
    }
}

@media (max-width: 767px) {}

@media (max-width: 479px) {}


/**
 * Hero Image
 */

.hero {
    position: relative;
    padding: 130px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    text-align: center;
}

.hero::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: ""
}

.hero h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 58px;
    font-weight: 400;
    margin-top: 0;
}

.hero p.lead {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 31px;
    font-weight: 300;
}

.hero .btn {
    padding-left: 40px;
    padding-right: 40px;
}

.hero.windows-height-bg {
    overflow: hidden;
}

@media (min-width: 768px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .hero {
        padding: 40px 0;
    }
    .hero h1 {
        font-size: 36px;
    }
    .hero p.lead {
        font-size: 17px;
        line-height: 1.4;
    }
}

@media (max-width: 479px) {
    .hero h1 {
        font-size: 28px;
        margin-top: 5px;
    }
    .hero p.lead {
        font-size: 15px;
    }
}

/**
 * Page Title & Breadcrumb
 */

.page-title {
    position: relative;
    padding: 40px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    text-align: center;
}

.page-title::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    content: ""
}

.page-title h1 {
    color: rgba(255, 255, 255, 1);
    margin: 0 0 5px;
}

.page-title p.lead {
    font-weight: 300;
}

ol.breadcrumb-list li {
    display: inline-block;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
}

ol.breadcrumb-list li a {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

ol.breadcrumb-list li a:hover {
    color: rgba(255, 255, 255, 0.8);
}

ol.breadcrumb-list li a:after {
    content: "/";
    margin: 0 7px;
}

ol.breadcrumb-list li span {
    font-weight: 600;
}

ol.breadcrumb-list.booking-step li a:after,
ol.breadcrumb-list.booking-step li:not(:last-child) span:after {
    font-family: 'FontAwesome';
    content: "\f105 ";
    margin: 0 7px;
}

.page-title.detail-page-title {
    padding: 220px 0 30px;
    text-align: left;
}

.breadcrumb-wrapper {
    padding: 10px 0;
}

.breadcrumb-wrapper ol.breadcrumb-list li a {
    color: #F56961;
}

.breadcrumb-wrapper ol.breadcrumb-list li a:hover {
    color: #D65049;
}

.breadcrumb-wrapper ol.breadcrumb-list li span,
.breadcrumb-wrapper ol.breadcrumb-list li a:after {
    color: #666;
}

.page-title.detail-page-title .list-col {
    line-height: 1;
}

.page-title.detail-page-title ul.list-col li:not(:last-child)::after {
    background: rgba(255, 255, 255, 0.8);
    bottom: auto;
    height: 33px;
}

.page-title.detail-page-title .list-col li.rating-box::after {
    top: -1px;
}

.page-title.detail-page-title .list-col li.fav-box::after {
    top: 1px;
}

.page-title.detail-page-title .btn-fav {
    background: none;
    color: #FFF;
    padding: 0;
}

.page-title.detail-page-title .list-col .duration-box .meta {
    display: inline-block;
}

.page-title.detail-page-title .list-col .duration-box .meta:not(:last-child) {
    margin-right: 7px;
}

.page-title.detail-page-title .meta span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.page-title.detail-page-title {}

.availabily-wrapper {}

ul.availabily-list {}

ul.availabily-list li {
    border-bottom: 1px solid #E3E3E3;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

ul.availabily-list li > div {
    display: inline-block;
    width: 19.5%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

ul.availabily-list li > div span {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

ul.availabily-list li > div.date-from,
ul.availabily-list li > div.date-to {
    width: 23%;
}

ul.availabily-list li > div.date-from {
    padding-right: 10px;
}

ul.availabily-list li > div.date-to {
    padding-left: 10px;
}

ul.availabily-list li > div.price {
    width: 12.5%;
}

ul.availabily-list li > div.status,
ul.availabily-list li > div.price {
    text-align: center;
}

ul.availabily-list li > div.action {
    text-align: right;
}

ul.availabily-list li > div.action .btn {
    margin-right: -8px;
}

ul.availabily-list li.availabily-heading {
    font-size: 12px;
    color: #999;
    padding-bottom: 5px;
}

ul.availabily-list li.availabily-content.sold-out:after {
    content: "";
    position: absolute;
    left: 0;
    right: 5px;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: block;
}

ul.availabily-list li > div span.availabily-heading-label {
    display: none;
    font-size: 12px;
    color: #999;
    font-weight: 400;
}

ul.availabily-list li > div.date-from {
    position: relative;
}

ul.availabily-list li.availabily-content > div.date-from:after {
    font-family: 'FontAwesome';
    content: "\f058";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -4px;
    display: block;
    color: #F56961;
}

ul.availabily-list li.availabily-content.sold-out > div.date-from:after {
    display: none;
}

.detail-content-wrapper {
    padding-right: 15px;
}

.detail-content {
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.detail-content .map-route {
    width: 50%;
    float: right;
    margin: 5px 0;
    margin-left: 15px;
}

@media (min-width: 768px) {}

@media only screen and (max-width: 1199px) {
    ul.availabily-list li > div.action .btn {
        margin-right: -4px;
    }
    .detail-content-wrapper {
        padding-right: 0;
    }
}

@media only screen and (max-width: 991px) {
    ul.availabily-list li {
        font-size: 13px;
    }
    ul.availabily-list li > div span {
        display: block;
        font-size: 14px;
    }
    ul.availabily-list li > div.action .btn {
        font-size: 10px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 767px) {
    ul.availabily-list li.availabily-heading {
        display: none;
    }
    ul.availabily-list li > div {
        display: block;
        width: 100% !important;
        position: relative;
        padding-left: 95px !important;
        text-align: left !important;
        margin-bottom: 15px;
    }
    ul.availabily-list li > div span.availabily-heading-label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;
        width: 80px;
    }
    ul.availabily-list li.availabily-content > div.date-from:after {
        top: 0;
        right: auto;
        left: 0;
        margin-top: 0;
    }
    .page-title.detail-page-title {
        padding: 100px 0 30px;
    }
}

@media (max-width: 479px) {}



/**
 * Main Search Form
 */

.main-search-wrapper {}

.main-search-wrapper > .inner {}

.main-search-wrapper .column-item {}

.main-search-wrapper .form-control {
    height: 40px;
    border-color: #FFF;
}

.main-search-wrapper .btn {
    padding-top: 13px;
    padding-bottom: 12px;
}

.main-search-wrapper .select2-container .select2-selection--single {
    height: 40px;
    border-color: #FFF;
}

.main-search-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 9px;
}

.main-search-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

.main-search-wrapper .select2-container--default .select2-selection--single:focus {
    border-color: #FFF !important;
}

.main-search-wrapper .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #CCC;
}

.main-search-wrapper .select2-dropdown {
    border: 1px solid #FFF !important;
}

.main-search-wrapper .select2-container .select2-selection--multiple {
    height: 40px;
    border-color: #FFF;
    overflow: hidden;
}

.main-search-wrapper .select2-container--default.select2-container--open .select2-selection--multiple {
    border-color: #CCC;
}

.main-search-wrapper .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding-top: 2px;
}

.main-search-wrapper.full-width {
    width: 80%;
    margin: 15px auto 0;
}

.main-search-wrapper.full-width > .inner {
    margin-left: -10px;
    margin-right: -10px;
}

.main-search-wrapper.full-width .column-item {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.main-search-wrapper.at-right > .inner {
    margin-left: 50%;
}

.main-search-wrapper.at-left {
    width: 330px;
    padding-right: 50px;
}

.main-search-holder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    color: #FFF;
    padding-top: 130px;
}

.main-search-holder h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 58px;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    letter-spacing: 0;
}

.main-search-holder p.lead {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 31px;
    font-weight: 300;
    text-align: center;
}

.main-search-holder .btn {
    padding-left: 40px;
    padding-right: 40px;
}

@media (min-width: 768px) {}

@media only screen and (max-width: 1199px) {
    .main-search-full-wrapper {
        width: 100%;
    }
    .main-search-wrapper.full-width {
        width: 90%;
    }
}

@media only screen and (max-width: 991px) {
    .main-search-full-wrapper {
        width: 50%;
    }
    .main-search-full-wrapper .column-item {
        width: 100%;
    }
    .main-search-wrapper.full-width {
        width: 75%;
    }
    .main-search-wrapper.full-width .column-item {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .main-search-full-wrapper {
        width: 60%;
        margin: 0 auto;
    }
    .main-search-wrapper.full-width {
        width: 90%;
        margin-top: 5px;
    }
    .main-search-wrapper.full-width .column-item {
        width: 50%;
    }
    .main-search-holder {
        padding: 35px 0;
    }
    .main-search-holder h1 {
        font-size: 36px;
    }
    .main-search-holder p.lead {
        font-size: 17px;
        line-height: 1.4;
    }
}

@media (max-width: 479px) {
    .main-search-full-wrapper {
        width: 80%;
    }
    .main-search-wrapper.full-width .column-item {
        width: 100%;
    }
    .main-search-holder h1 {
        font-size: 28px;
        margin-top: 5px;
    }
    .main-search-holder p.lead {
        font-size: 15px;
    }
}
/**
 * Featured 
 */

.featured-item:not(:last-child) {
    margin-bottom: 30px;
}

.featured-item h4 {
    color: #333;
}

.featured-item .content .icon {
    float: left;
    font-size: 56px;
    color: #F56961;
    margin-top: 5px;
}

.featured-item .content p {
    margin-left: 70px;
}

.featured-count {
    line-height: 1.2;
    margin: 15px 0;
}

.featured-count .icon {
    width: 44px;
    float: left;
    font-size: 47px;
}

.featured-count .content {
    margin-left: 55px;
    padding-top: 5px;
}

.featured-count h6 {
    color: #333;
    margin: 0 0 5px;
}

.call-to-action {
    text-align: center;
}

.call-to-action .btn {
    margin: 0 15px;
    margin-top: -3px;
}

ul.featured-list-sm {
    margin-top: 25px;
}

ul.featured-list-sm li {
    position: relative;
    padding-left: 50px;
    margin: 15px 0 25px;
    line-height: 1.5;
}

ul.featured-list-sm li:last-child {
    margin-bottom: 0;
}

ul.featured-list-sm li .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #F56961;
    border: 2px solid #F56961;
    font-size: 16px;
    border-radius: 3px;
}

ul.featured-list-sm li h6 {
    text-transform: uppercase;
    margin: 0 0 10px;
}

.featured-icon-item {
    margin: 50px 15px 0;
}

.featured-icon-item .icon {
    font-size: 54px;
    color: #00AFF1;
    margin: 0 0 25px;
    width: 90px;
    height: 90px;
    line-height: 95px;
    text-align: center;
    border: 2px solid #00AFF1;
    border-radius: 50%;
}

.featured-icon-item h4 {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 20px;
}

.promo-box {
    background: #00AFF1;
    color: #FFF;
    text-align: center;
    padding: 90px 0;
    line-height: 1;
    font-size: 42px;
    font-weight: 300;
}

.process-item {
    padding: 0 20px;
    position: relative;
}

.process-item .process-step {
    width: 34px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    color: #F5F8FB;
    position: absolute;
    top: -17px;
    left: 2px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    background: #00AFF1;
    border: 2px solid #F5F8FB;
}

.process-item .image {
    width: 160px;
    margin: 15px 0 20px;
}

.process-item .image img {
    border-radius: 3px;
}

.process-item a {
    line-height: 1;
}

.process-item a i {
    margin-left: 7px;
}

.icon-fearured .icon {
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    font-size: 21px;
    margin: 0 0 20px;
}


/**
 * Image Overlay
 */

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: opacity .25s ease, background-color .45s ease;
    transition: opacity .25s ease, background-color .45s ease;
    background: rgba(0, 0, 0, 0);
}

.overlay-box:hover .image-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.image-overlay:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ""
}

.overlay-content {
    display: inline-block;
    vertical-align: middle;
    color: #fff
}

.overlay-icon {
    margin-bottom: 6px;
    color: #fff;
    border: 2px solid #FFF;
    padding: 10px 10px;
    border-radius: 3px;
    -webkit-transition: opacity .25s ease, background-color .45s ease;
    transition: opacity .25s ease, background-color .45s ease;
    opacity: 0;
    filter: alpha(opacity=0);
}

.overlay-box:hover .overlay-icon {
    opacity: 1;
    filter: alpha(opacity=100);
}

.overlay-icon i {
    color: #fff;
    font-size: 56px;
}

/*------------------------------------------------------------------
    17. footer styles
-------------------------------------------------------------------*/
.cd-top{display:inline-block;height:40px;width:40px;position:fixed;bottom:40px;right:10px;-webkit-box-shadow:0 0 10px rgba(0,0,0,.05);box-shadow:0 0 10px rgba(0,0,0,.05);overflow:hidden;text-indent:100%;white-space:nowrap;background:rgba(232,98,86,.8) url(https://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg) no-repeat center 50%;visibility:hidden;opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s,background-color .3s 0s;transition:opacity .3s 0s,visibility 0s .3s,background-color .3s 0s}
.cd-top.cd-top--show,.cd-top.cd-top--fade-out,.cd-top:hover{-webkit-transition:opacity .3s 0s,visibility 0s 0s,background-color .3s 0s;transition:opacity .3s 0s,visibility 0s 0s,background-color .3s 0s}
.cd-top.cd-top--show{visibility:visible;opacity:1}
.cd-top.cd-top--fade-out{opacity:.5}
.cd-top:hover{background-color:rgb(242, 103, 36);opacity:1}
@media only screen and (min-width:768px){.cd-top{right:20px;bottom:20px}}
@media only screen and (min-width:1024px){.cd-top{border-radius:50px; height:50px;width:50px;right:30px;bottom:30px}}

.footer-section{
    background: #27283c;
    padding: 30px 0 55px;
    position: relative;
}


.footer-section .footer-fb-icon{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 47px;
    text-align: center;
    top: -120px;
    background: #3b5998;
    color: #fff;
    height: 47px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 50px;
}

.footer-section .footer-twiiter-icon{
    position: absolute;
    left: -135px;
    right: 0;
    margin: auto;
    display: block;
    width: 47px;
    text-align: center;
    top: -109px;
    background: #1da1f2;
    color: #fff;
    height: 47px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 50px;
}

.footer-section .footer-pinterest-icon{
    position: absolute;
    right: -135px;
    left: 0;
    margin: auto;
    display: block;
    width: 47px;
    text-align: center;
    top: -109px;
    background: #bd081c;
    color: #fff;
    height: 47px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 50px;
}


.footer-section .footer-fb-icon:hover{
    background: #2e4982;
    top: -126px;
}

.footer-section .footer-twiiter-icon:hover{
    background: #1893de;
    top: -115px;
}

.footer-section .footer-pinterest-icon:hover{
    background: #b00a1c;
    top: -115px;
}


.footer-section .tittle-footer{
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 36px;
}

.footer-section .tittle-footer span{
    font-weight: 500;
}

.footer-section .tittle-footer:after {
    content: '';
    height: 3px;
    width: 25px;
    bottom: -10px;
    position: absolute;
    background: #fff;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.footer-section .tittle-footer:hover::after {
    width: 35px;
}

.footer-section .footer-logo {
     width: 65px;
    opacity: 1;
    margin-bottom: 20px;

}

.footer-section .footer-text{
    font-size: 13px;
    font-weight: 100;
    color: #7d809d;
    text-transform: capitalize;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.04);
}

.footer-section .footer-cpy{
    font-size: 13px;
    font-weight: 100;
    color: #7d809d;
    text-transform: capitalize;
    margin-top: 23px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.04);
}

.footer-section .footer-paypment{
    width: 200px;
}

.footer-section .first-panu-footer{
    padding-right: 30px;
}

.footer-section .second-panu-footer{
    border-left: 1px solid #3c3e58;
    padding-left: 25px;
}

.footer-section .second-panu-footer ul{
    padding-left: 0;
    float: left;
}

.footer-section .second-panu-footer ul>li{
    list-style: none;
}

.footer-section .second-panu-footer ul>li>a{
    font-size: 13px;
    color: #8a8ca2;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.04);
    display: block;
    padding: 5px 0;
}

.footer-section .second-panu-footer ul>li>a:hover,.footer-section .second-panu-footer ul>li>a:focus{
    color: #fff;
    text-decoration: none;
}

.footer-section  #subscribe-footer-form{
    position: relative;
}

.footer-section  #subscribe-footer-form input{
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 13px;
    font-weight: 100;
    padding: 8px;
    color: #fff;
    outline: none;
}

.footer-section  #subscribe-footer-form:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #8a8ca2;
    height: 1px;
    transition: all 0.2s ease-in-out;
}

.footer-section  #subscribe-footer-form:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    background: #fff;
    height: 1px;
    transition: all 0.2s ease-in-out;
}

.footer-section  #subscribe-footer-form:hover::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 1px;
    z-index:2;
    transition: all 0.2s ease-in-out;
}

.footer-section  #subscribe-footer-form input::-webkit-input-placeholder{
    color: #8a8ca2;
}

.footer-section  #subscribe-footer-form input:-webkit-autofill {
    background: transparent !important;
}


.footer-section  #subscribe-footer-form button{
    position: absolute;
    background: transparent;
    border: 0;
    color: #f26724;
    right: 3px;
    top: 8px;
    font-size: 13px;
    z-index: 3;
    cursor: pointer;
    outline: none;
}

.footer-section  #subscribe-footer-form button:hover{
    color: #8e5133;
    outline: none;
}

/**
 * Footer
 */

/*.footer {
    background: #1B222C;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.footer a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

.footer a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer-logo {
    width: 200px;
}

.footer-address {
    line-height: 1.4;
    margin-top: 25px;
}

h5.footer-title {
    color: #FFF;
    margin: 0 0 20px;
}

ul.footer-menu li {
    margin: 5px 0;
    font-size: 12px;
}

ul.footer-menu li a {
    text-transform: uppercase;
    line-height: 1;
}

.footer-social {
    margin: 25px 0 20px;
    font-size: 18px;
    line-height: 1;
}

.footer-social a {
    font-size: 24px;
    margin-right: 10px;
}

.copy-right {
    font-size: 11px;
}

@media only screen and (max-width: 1199px) {
    .footer-contact .icon {
        float: none;
        padding: 0 0 7px;
        text-align: left;
    }
    .footer-contact .content {
        margin-left: 0;
    }
}

@media only screen and (max-width: 991px) {
    .footer-contact .icon {
        width: 40px;
        float: left;
        padding: 3px 0 0;
        text-align: center;
    }
    .footer-contact .content {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .footer-contact {
        padding: 25px 20px;
    }
}

@media (max-width: 479px) {}*/


/**
 * Sign-in/up
 */

.modal.modal-border-transparent .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.modal.modal-login .modal-content {
    width: 400px;
    margin: 0 auto;
    position: relativel
}

.modal.modal-login .form-control::-moz-placeholder {}

.modal.modal-login .form-control:-ms-input-placeholder {}

.modal.modal-login .form-control::-webkit-input-placeholder {}

.modal.modal-login .modal-footer {
    border-top: 1px solid #CCC;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}

.modal .modal-content .btn-close {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1052;
    font-size: 12px;
}

.modal-seperator {
    border-bottom: 1px solid #CCC;
    text-align: center;
    margin: 20px 0 45px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.modal-seperator span {
    width: 40px;
    height: 40px;
    border: 1px solid #CCC;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 38px;
    display: block;
    margin-bottom: -20px;
    background: #FFF;
    font-weight: 600;
}

.login-modal-tab-wrapper {
    background-color: #e2e2e2;
    background-image: url(https://cdn.sstatic.net/img/hero/pattern.svg?v=13ca42e6c21d);
    background-position: right center,center center;
    background-repeat: no-repeat,no-repeat;
}

ul.login-modal-tab-nav {
    background: #EAEAEA;
    padding: 0;
    margin: 0;
}

ul.login-modal-tab-nav li {
    float: left;
    width: 50%;
    text-align: center;
}

ul.login-modal-tab-nav li a {
    display: block;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #565656;
}

ul.login-modal-tab-nav li.active a {
    background: #FFF;
}

ul.login-modal-tab-nav li a:hover {
    color: #489FF0;
}

.btn.btn-facebook {
    background: #3b5998;
    color: #FFF;
}

.btn.btn-facebook:hover {
    opacity: 0.8;
}

.btn.btn-google {
    background: #fff;
    color: #464646;
}

.btn.btn-google:hover {
    opacity: 0.5;
}
.modal-logo{
    height: 40px;
    width: 40px;
}
.signup-content p span{
    font-size: 20px;
}

.signup-content p span{
    font-weight: bolder;
    color: #f56961;
}
@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media (max-width: 479px) {
    .modal.modal-login .modal-content {
        width: 100%;
    }
}


/**
 * Static Page
 */

.for-static-page .sidebar-module {
    margin-right: 30px;
}

ul.static-page-menu li a {
    display: block;
    color: #636363;
    padding: 8px 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    line-height: 1;
    padding-left: 0;
    border-left: 4px solid #FFF !important;
    border-right: 4px solid #FFF;
    margin-right: -4px;
    margin-left: -4px;
    margin-bottom: 1px;
    font-size: 12px;
}

ul.static-page-menu li a:hover,
ul.static-page-menu li.active a {
    border-right: 4px solid #F56961;
    color: #F56961;
}

.static-wrapper h1:first-child,
.static-wrapper h2:first-child,
.static-wrapper h3:first-child,
.static-wrapper h4:first-child,
.static-wrapper h5:first-child,
.static-wrapper h6:first-child {
    margin-top: 0;
}

.static-wrapper ul,
.static-wrapper ol {
    list-style: disc;
    margin-left: 20px;
    line-height: 25px;
}

.static-wrapper ul li,
.static-wrapper ol li {
    margin-bottom: 7px;
}

.static-wrapper ul ul,
.static-wrapper ol ol {
    margin-top: 7px;
}

.static-wrapper > ul,
.static-wrapper > ol {
    margin-bottom: 15px;
}

.static-wrapper ol {
    list-style: decimal;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .for-static-page .sidebar-module {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .for-static-page .sidebar-module {
        margin-right: 0;
    }
}

@media (max-width: 479px) {}

.login-drop-down-header{
    right: 0 ;
    left: auto ;
    padding: 30px 30px;
    border: 1px solid rgba(223, 228, 232, 0);
    border-radius: 8px ;
    box-shadow: 0 9px 27px rgba(0,0,0,0.1);
    min-width: 350px;
    margin-top: 10px ;
}

@media (min-width: 992px) {
    
    
.login-drop-down-header:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 13px 12px;
    border-color: transparent transparent #fff transparent;
    top: -7px;
    right: 30px;
    position: absolute;
}
}


.login-drop-down-header form .form-group .form-control {
    border: 0;
    border-bottom: 1px solid #e4e8ea;
    border-radius: 0;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    box-shadow: none;
}

.login-drop-down-header form .form-group .form-control:hover, .login-drop-down-header form .form-group .form-control:focus {
    border-bottom: 1px solid #bfc6ca;
}

.login-drop-down-header form .help-block {
    padding: 5px 0 5px;
}

.login-drop-down-header form .help-block a:first-child {
    float: left;
}
.header-login-btn .login-drop-down-header form .help-block a {
    font-size: 12px;
    margin-top: -4px;
    display: block;
    padding: 0 11px;
    color: #cbd2d6 !important;
    background: 0;
    text-shadow: none;
    text-transform: lowercase;
    line-height: 24px;
    box-shadow: none;
}

.header-login-btn .login-drop-down-header form .help-block a:hover {
    color: #868c90 !important;
}

.login-drop-down-header form .help-block a:last-child {
    float: right;
}


.login-drop-down-header #login {
    width: 100%;
    margin-top: 20px;
    background: #62d97b;
    border: 0;
    cursor: pointer;
}


.login-drop-down-header #login:hover,.login-drop-down-header #login:focus {
    background: #4aab5f;
}

.main-header .top-header-fixed .login-drop-down-header{
    margin-top: 25px !important;
}


.plans-one {
    overflow: hidden;
}


.login-drop-down-header .col-md-4 {
    padding: 0 5px;
}

.account-drop-down-header {
    padding: 20px 15px;
}

.acount-top-header-acc{
    text-align: center;
    margin: -20px 0 10px 0 !important;
    border-right: 1px solid #f2f4f5;
    border-bottom: 1px solid #f2f4f5;
    text-shadow: none !important;
    box-shadow: none !important;
}

.acount-top-header-acc:before{
    display:none;
}

.acount-top-header-acc:hover i:before{
    color: #1576d3;
}


.acount-top-header-acc i:before{
    color: #bbb;
    font-size: 30px;
    margin-left: 0;
}

.np-bord-right{
    border-right: 0;
}



@media (max-width: 992px) {
    
    
.login-drop-down-header{
    border-radius: 0 !important;
}

.acount-top-header-acc{
    display: none  !important;
}

}

.header-login-btn{
    padding: 0px 0;
    margin-left: 70px;
    line-height: 47px;
    position: relative;
}

.header-login-btn a{
    background: #46a9ed;
    color: #fff;
    font-size: 11px;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 5px 0;
    font-weight: 500;
    -webkit-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.03);
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.03);
    text-decoration: none;
    text-transform: uppercase;
}

.header-login-btn a:hover,.header-login-btn a:focus{
    background: #439edc;
    color: #fff;
    -webkit-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.04);
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.04);
    text-decoration: none;
}



.header-regsiter-btn{
    padding: 3px 0;
    margin-left: 10px;
    line-height: 57px;
}

.header-regsiter-btn a{
    background: #62d97b;
    color: #fff;
    font-size: 11px;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 5px 0;
    font-weight: 500;
    -webkit-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.03);
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.03);
    text-decoration: none;
    text-transform: uppercase;
}


.header-regsiter-btn a:hover,.header-regsiter-btn a:focus{
    background: #58ce71;
    color: #fff;
    -webkit-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.04);
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.04);
    text-decoration: none;
}


/*--------------------------------------------banner--------------------------------------------*/
.Banners-on .banner-section{
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 260px;
    padding: 0px;/*
    transition: all 2s;*/
  opacity:1;
}
    @keyframes fadeOutDown {
       0% {
          opacity: 1;
          transform: translateY(0);
       }
       100% {
          
       } 
    }
.fadeInDown{
    opacity: 0;
    transition: all .5s ease-in;
}
.fadeInDown:hover{
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: all .5s ease-in;
}
.onhover{
    margin-top: 35px;
    opacity: 0;
}
.back-text{
    margin-top: 60px;
}
.banner-section h5{
    margin-top: 2%;
    padding-top: 0%;
    text-align: center;
    font-weight: bold;
    color: #484848;
}
.banner-section p{
    line-height: 17px;
    padding: 0px 30px;
}
.banner-section img{
    margin: 50px auto 0px;
        width: 50px;
}

.Banners-on .banner-section:hover{
    opacity: 1 !important;
}
.Banners-back .banner-section{
    color: #fff;/*
    border:1px solid;*/
    height: 260px;
    text-align: center; 
}
div:hover {
  opacity:1;
}
.banner-section i{
    font-size: 55px;
}
.Banners-on .row{
    margin: 0px;
}

.Banners-on{
    /*background-image: url("images/main back.jpg");*/
    background-position: center;
    z-index: 1;
    padding: 0px !important;
    width: 100%;
    background-size: cover;
}
.Banners-back{
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 110px;
    padding: 0px !important;
}
.Banners-back .container{
    margin:0px 95px;
}
.Banners-back .row{
    margin: 0px;
}
section{
    background-color: transparent;;
}
.banner-section{
    padding: 0px 20px 80px;
}
.row{
    width: 100%;
}
.back-text .cause-icon{
    font-size: 40px;
}

/*---------------------------------------------blog---------------------------------------------*/
#blog{
    padding: 50px 0px;
}
#blog h2{
    margin-bottom: 18px;
    font-size: 37px;
}
#blog .first h2:after{
    border-bottom: 1px solid #6f6f6f;
    content: "";
    display: block;
    left: 37%;
    bottom: 0;
    position: absolute;
    width: 25%;
}
#blog .second h2:after{
    border-bottom: 1px solid #6f6f6f;
    content: "";
    display: block;
    left: 47%;
    bottom: 0;
    position: absolute;
    width: 6%;
}
.right-blog h2{
    font-size: 17px;
}
#blog .border{
    margin-bottom: 17px;
    width: 103px;
    border: 1px solid #b1b1b1;
    margin-left: 157px;
}
#blog .border1{
    margin-bottom: 17px;
    width: 49px;
    border: 1px solid #b1b1b1;
    margin-left: 412px;
}
.side-arrow{
    color: #ffffff;
    border-radius: 30px;/*
    padding: 14px 17px;*/
    background-color: #373737;
}
.line{
    margin-top: 18px;
    border: .8px solid #999;
    width: 99px;
    transform: rotate(90deg);
    margin-left: -28px;
    z-index: -1;
    position: relative;
}
.side-arrow-active{
    transform: rotate(90deg)
}
.side-blog-title{
    height: 460px;
    overflow: hidden;
    display: inline-flex;
}
.side-blog-title h1{
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    margin: 15px 0px 10px;
}
.side-blog-title p{
    color: #626262;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 52px;
}
.active-title{
    color: brown !important;
}
.side-blog-title-data h1{
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 13px;
    font-size: 20px;
    color: #484848;
}
.side-blog-title-data p{
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: #454545
}
.side-blog-title-data img{
    width: 100%;
}
.this-data{
    display: none;
}
.blog-img{
    box-shadow: 6px 9px 10px 4px #c3c3c3;
}
#blog .row{
    margin: 0;
    padding: 0px 40px 40px;
    padding-right: 20px;
}
.right-blog{
    padding: 0;
    display: inline-flex;
}
.right-blog p{
    margin-left: 10px;
    line-height: 1.5;
}
.side-blog-title h5{
    color: #6f6f6f;
    margin-top: 0px;
}
.right-blog img{
    height: 86px;
    width: 126px;
}
.right-blog h2{
    color: #484848;
    margin-bottom: 5px;
    font-size: 19px !important;
}
.side-date{
    text-align: center;
}
.side-date h2{
    font-weight: 700;
    font-size: 15px;
    padding: 6px;
    color: #fff;
    background-color: #858383;
}
.icon-side{
    background-color: #000;
    border-radius: 34px;
    text-align: center;
    padding: 9px;
    width: 76%;
}






/*----------------------------------------------------------me---------------------------------------------------------------*/
.top{
    color: #fff;
    background-color: #00000045;
}
.cbp-item{
    position: relative !important;
}
.padding{
    padding:0;
    z-index: 1;
}
#cube-gallery{
    height: 647px;
}
/*.overlay {
    background: #38373382;
    position: absolute;
    left: -15px;
    bottom: 15px;
    padding: 1rem 1.125rem;
    opacity: 0;
}
.overlay a{
    color: #fff;
}*/
.team-quote h4{
    font-size: 32px;
}
.bg-blue {
    background-color: #17acc6 !important;
}
.bg-red {
    background-color: #CB342B !important;
}
.progress-bar{
    border-radius: 0px;
}
.team-three-tag .team-three-social {
    position: absolute;
    width: 40px;
    height: 100%;
    text-align: center;
    right: 0px;
    top: 0;
    padding: 0px;
    opacity: 0;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.wrapper {
    padding-left: 0px;
}
.padding_top {
    padding-top: 0rem;
}
.bottom25{
    font-size: 32px;
}
.whitecolor {
    color: #000;
}

.breadcrumbs {
    background-color: #ffffff;
    position: relative
}

.breadcrumbs .container {
    border-bottom: 1px solid #e6f0f6
}

.breadcrumbs ul {
    list-style: none;
    margin: 20px 0 20px 0;
    padding: 0
}

.breadcrumbs ul li {
    display: inline-block;
    padding-right: 0px;
    margin-left: 5px;
    color: #595959;
    font-weight: 600
}

.breadcrumbs ul li:first-child {
    margin-left: 0
}

.breadcrumbs ul li:last-child {
    padding-right: 0
}

.breadcrumbs ul li a {
    color: #595959;
    text-decoration: none
}

.breadcrumbs ul li a:hover {
    color: #ea3448
}

.breadcrumbs ul li .active {
    color: #ea3448
}

.breadcrumbs ul li:before {
    font-family: "Ionicons";
    content: '\f3d1';
    position: relative;
    right: 5px
}

.breadcrumbs ul li:first-child:before {
    display: none
}
.spacing {
    height: 50px;
    background-color: #ffffff;
    position: relative
}
#submitmsg{
  background-color: #17acc7;
  border:none;
}



.Banners-back .four{
    background: #9f42af ;
}
.Banners-back .two{
    background:#ef5350;
}
.Banners-back .three{
    background: #62d97b;
}
.Banners-back .one{
    background: #42a5f5;
}
.Banners-back .five{
    background: #f7a35c;
}
.Banners-back .six{
    background: #ec407a;
}
.Banners-back .seven{
    background: #7e57c2;
}
.Banners-back .eight{
    background:#a7e233  ;
}
.Banners-on .four{
    background-image: url("../png/childern_education.jpg") !important;
}
.Banners-on .two{
    background-image: url("../png/health.jpg") !important;
}
.Banners-on .three{
    background-image: url("../png/animal_walfare.jpg") !important;
}
.Banners-on .one{
    background-image: url("../png/enviornment2.jpg") !important;
}
.Banners-on .five{
    background-image: url("../png/youth_employment.jpg") !important;
}
.Banners-on .six{
    background-image: url("../png/women_epowerment2.jpg") !important;
}
.Banners-on .seven{
    background-image: url("../png/oldage2.jpg") !important;
}
.Banners-on .eight{
    background-image: url("../png/disabled-people.jpg") !important;
}


.hii{
    background: transparent !important;
    transition:all 2s ease;
    background-position:center !important;
}
.hii h5{
    color: #cacaca;
}
.hover{
    background-color:#1b19149e !important;
}
.zoom{
    transform: scale(1.2);
    background-size: 500px 360px !important;
    background-position: center;

}
.Banners-back .banner-section:hover img{
   -webkit-animation: toRightFromLeft 0.8s forwards;
   -moz-animation: toRightFromLeft 0.8s forwards;
   animation: toRightFromLeft 0.8s forwards;
}
@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}


/**
 * Sidebar
 */

.sidebar-inner {
    border: 4px solid #EEE;
    padding: 30px 20px 0;
    border-radius: 3px;
}

.sidebar-inner.no-border {
    border: 0;
    padding: 0;
}

.sidebar-inner.for-blog a {
    color: #777;
    font-weight: 400;
}

.sidebar-inner.for-blog a:hover {
    color: #D65049;
}

.sidebar-module {
    padding: 0 0 30px;
}

.sidebar-box {
    padding: 30px 0 0;
}

.sidebar-title {
    color: #333;
    margin-top: 0;
}

.sidebar-title.text-primary {
    text-transform: uppercase;
}

.sidebar-header {
    clear: both;
}

.sidebar-header h4 {
    float: left;
    text-transform: uppercase;
    margin: 0 0 12px;
}

.sidebar-reset-filter {
    float: right;
    color: #999;
    font-size: 12px;
}

.sidebar-search-wrapper {
    padding: 20px;
    margin: 0 0 30px;
    border-radius: 3px;
}

.sidebar-search-header h4 {
    text-transform: uppercase;
    margin: 0 0 12px;
}

.btn-more-less {
    background: none;
    padding: 0;
    font-size: 10px;
    font-weight: 600;
}

.btn-more-less.collapsed:before {
    content: '+ ';
}

.btn-more-less:before {
    content: '- ';
}

.more-less-inner {
    margin: 0;
}

.read-more-div-open {
    display: block;
}

.read-more-div-close {}

ul.sidebar-category,
ul.sidebar-archives {
    margin-top: 15px;
}

ul.sidebar-category li,
ul.sidebar-archives li {
    border-bottom: 1px solid #F0F0F1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 1.4;
}

ul.sidebar-category li:last-child,
ul.sidebar-archives li:last-child {
    margin-bottom: 0;
}

ul.sidebar-category li a,
ul.sidebar-archives li a {
    display: block;
}

ul.sidebar-category li a span,
ul.sidebar-archives li a span {
    float: right;
    font-size: 12px;
    color: #A3A3A3;
}

ul.sidebar-category li a:hover,
ul.sidebar-archives li a:hover {
    padding-left: 5px;
}

ul.sidebar-post {
    margin-top: 15px;
}

ul.sidebar-post li {
    border-bottom: 1px solid #F0F0F1;
    padding-bottom: 15px;
    margin-bottom: 10px;
    line-height: 1.4;
}

ul.sidebar-post li:last-child {
    margin-bottom: 0;
}

ul.sidebar-post li h6 {
    margin: 0 0 5px;
}

ul.sidebar-post li h6 {
    color: #333;
    font-weight: 400;
}

ul.sidebar-post li a:hover h6 {
    color: #D65049;
}

ul.sidebar-post li .image {
    width: 80px;
    float: left;
    margin-top: 5px;
}

ul.sidebar-post li .image img {
    display: block;
}

ul.sidebar-post li .content {
    margin-left: 90px;
}

ul.sidebar-post li .recent-post-sm-meta {
    margin: 10px 0 0;
    color: #A3A3A3 !important;
    font-size: 12px;
}

.tag-cloud {
    margin-top: 15px;
    margin-bottom: -5px;
}

.tag-cloud span {
    display: block;
    float: left;
    line-height: 1;
    padding: 5px 7px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px;
}

.tag-cloud a {
    border: 1px solid #E3E3E3;
    line-height: 1;
    font-size: 12px;
    padding: 5px 7px;
    margin-left: 3px;
    margin-bottom: 5px;
    display: block;
    float: left;
    color: #777;
    border-radius: 3px;
}

.tag-cloud a:hover {
    background: #D65049;
    color: #FFF !important;
    border-color: #D65049;
}

.tag-cloud-wrapper {
    border-top: 1px solid #EFEFEF;
    position: relative;
    margin: 20px 0 0;
    padding: 20px 0 0;
}

.tag-cloud-wrapper .tag-cloud-heading {
    float: left;
}

.tag-cloud-wrapper .tag-cloud {
    margin-left: 50px;
    margin-top: 5px;
}

.sidebar-text-widget ul {
    margin: 0;
    margin-left: 25px;
    padding: 0;
}

.sidebar-text-widget ul li {
    list-style: circle;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .sidebar {
        margin-bottom: 30px;
    }
}

@media (max-width: 479px) {}



/**
 * Pager
 */

.pager-wrappper {
    margin-top: 15px;
}

.pager-inner {
    line-height: 1;
    display: table;
}

.pager-label {
    vertical-align: middle;
    display: table-cell;
    font-weight: 400;
}

.pager-middle-holder {
    display: inline-block;
    margin: 0;
    margin-left: 7px;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
}

.pager-right {
    float: right;
}

.pagination {
    margin: 9px 0 0;
}

.pagination > li > a,
.pagination > li > span {
    padding: 0;
    margin: 0 3px;
    color: #337ab7;
    border: 0;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 23px;
    border-radius: 50%;
    text-align: center;
    color: #666;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #D65049;
    background-color: #FFF;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #F56961;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .pager-right {
        float: left;
    }
}

@media only screen and (max-width: 767px) {}

@media (max-width: 479px) {}


/**
 * Featured 
 */

.featured-item:not(:last-child) {
    margin-bottom: 30px;
}

.featured-item h4 {
    color: #333;
}

.featured-item .content .icon {
    float: left;
    font-size: 56px;
    color: #F56961;
    margin-top: 5px;
}

.featured-item .content p {
    margin-left: 70px;
}

.featured-count {
    line-height: 1.2;
    margin: 15px 0;
}

.featured-count .icon {
    width: 44px;
    float: left;
    font-size: 47px;
}

.featured-count .content {
    margin-left: 55px;
    padding-top: 5px;
}

.featured-count h6 {
    color: #333;
    margin: 0 0 5px;
}

.call-to-action {
    text-align: center;
}

.call-to-action .btn {
    margin: 0 15px;
    margin-top: -3px;
}

ul.featured-list-sm {
    margin-top: 25px;
}

ul.featured-list-sm li {
    position: relative;
    padding-left: 50px;
    margin: 15px 0 25px;
    line-height: 1.5;
}

ul.featured-list-sm li:last-child {
    margin-bottom: 0;
}

ul.featured-list-sm li .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #F56961;
    border: 2px solid #F56961;
    font-size: 16px;
    border-radius: 3px;
}

ul.featured-list-sm li h6 {
    text-transform: uppercase;
    margin: 0 0 10px;
}

.featured-icon-item {
    margin: 50px 15px 0;
}

.featured-icon-item .icon {
    font-size: 54px;
    color: #00AFF1;
    margin: 0 0 25px;
    width: 90px;
    height: 90px;
    line-height: 95px;
    text-align: center;
    border: 2px solid #00AFF1;
    border-radius: 50%;
}

.featured-icon-item h4 {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 20px;
}

.promo-box {
    background: #00AFF1;
    color: #FFF;
    text-align: center;
    padding: 90px 0;
    line-height: 1;
    font-size: 42px;
    font-weight: 300;
}

.process-item {
    padding: 0 20px;
    position: relative;
}

.process-item .process-step {
    width: 34px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    color: #F5F8FB;
    position: absolute;
    top: -17px;
    left: 2px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    background: #00AFF1;
    border: 2px solid #F5F8FB;
}

.process-item .image {
    width: 160px;
    margin: 15px 0 20px;
}

.process-item .image img {
    border-radius: 3px;
}

.process-item a {
    line-height: 1;
}

.process-item a i {
    margin-left: 7px;
}

.icon-fearured .icon {
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    font-size: 21px;
    margin: 0 0 20px;
}


/**
 * Blog
 */

.blog-wrapper {
    padding-right: 15px;
}

.blog-item {
    display: block;
    margin-bottom: 40px;
    background: #FFF;
    overflow: hidden;
    border-bottom: 1px solid #E3E3E3;
    padding: 0 0 30px;
}

.blog-item:last-child {
    margin-bottom: 0
}

.blog-item.blog-single {
    border-bottom: 0;
    margin-bottom: 0;
}

.blog-media {
    position: relative;
    margin: 0 0 25px;
}

.blog-media a {
    display: block;
}

.blog-content {}

.blog-content h3 {
    line-height: 1.4;
    margin: 0 0 20px;
    color: #333;
}

.blog-content h3 a {
    color: #333;
    display: block;
}

.blog-content h3 a:hover {
    color: #D65049;
}

.blog-entry {
    padding: 0 0 20px;
}

.blog-entry ul,
.blog-entry ol {
    list-style: disc;
    margin-left: 20px;
    line-height: 25px;
}

.blog-entry ul li,
.blog-entry ol li {
    margin-bottom: 7px;
}

.blog-entry ul ul,
.blog-entry ol ol {
    margin-top: 7px;
}

.blog-entry > ul,
.blog-entry > ol {
    margin-bottom: 15px;
}

.blog-entry ol {
    list-style: decimal;
}

ul.blog-meta {
    margin: 0 0 25px;
    line-height: 1.2;
    font-size: 12px;
}

ul.blog-meta li {
    display: block;
    color: #999;
    margin-right: 30px;
    float: left;
    position: relative;
}

ul.blog-meta li:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #E1E1E1;
    border-radius: 6px;
    position: absolute;
    right: -19px;
    top: 5px;
}

ul.blog-meta li:after {
    content: "";
    width: 2px;
    height: 2px;
    background: #FFF;
    border-radius: 2px;
    position: absolute;
    right: -17px;
    top: 7px;
}

ul.blog-meta li:last-child:before,
ul.blog-meta li:last-child:after {
    display: none;
}

.blog-extra {
    background: #F2F2F2;
    padding: 28px 20px 25px;
    margin: 20px 0 40px;
    border-radius: 3px;
}

.blog-author {
    padding: 0;
    position: relative;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.blog-author h5 a {
    color: #333;
}

.blog-author h5 a:hover {
    color: #D65049;
}

.author-details {
    margin-left: 120px;
    position: relative;
}

.author-label {
    position: absolute;
    width: 100px
}

.author-label img {
    width: 100%
}

.blog-author .social {
    float: right;
    margin-top: -5px
}

#comment-wrapper {
    background: #FFF;
    padding: 30px 0 20px;
    position: relative
}

ul.comment-item {
    list-style: none;
    padding: 0;
    margin: 0
}

ul.comment-item li {
    position: relative;
    display: block;
    padding-left: 65px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #EBE8E6
}

ul.comment-item li li:last-child,
ul.comment-item li li li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul.comment-item ul {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #EBE8E6;
    margin-left: -20px;
}

.comment-item h6 {
    margin-bottom: 5px;
}

.comment-item .comment-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.comment-item .comment-avatar img {
    width: 100%;
    width: 100%;
    border-radius: 50%
}

.comment-item .comment-time {
    display: block;
    font-style: italic;
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
    line-height: 1.2;
}

.comment-item a.comment-reply {
    float: right;
    font-size: 10px;
    line-height: 1;
    padding: 3px 7px;
    text-transform: uppercase;
    border: 2px solid #F56961;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: block
}

.comment-item a.comment-reply:hover {
    color: #FFF;
    border-color: #D65049;
    background: #D65049;
}

@media only screen and (max-width: 1199px) {
    .blog-wrapper {
        padding-right: 0;
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media (max-width: 479px) {}


/**
 * Contact Us
 */
#contact{
    margin-bottom: 50px;
}
#contact h3:after{
    border-bottom: 1px solid #6f6f6f;
    content: "";
    display: block;
    left: 40%;
    bottom: 0;
    position: absolute;
    width: 20%;

}
.the p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 25px 0;
    color: #777;
}
.top-place-wrapper {
    background: #F0F0F0;
}

.top-place-inner {
    margin-left: -15px;
    margin-right: -15px;
}

.top-place-item {
    padding: 30px 15px;
}

.top-place-item .icon {
    width: 33px;
    float: left;
}

.active .top-place-item {
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.35);
}

.top-place-item .content {
    margin-left: 48px;
    line-height: 22px;
}

.top-place-item .content h3 {
    line-height: 1.1;
    margin: 0 0 17px;
}

.top-place-item .content p {
    margin: 0 0 12px;
}

.top-place-item .content a {
    text-transform: uppercase;
    font-size: 12px;
}

.contact-form-wrapper .form-group {
    margin: 0 0 17px;
}

.contact-form-wrapper .help-block {
    line-height: 1.2;
    font-size: 12px;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #FFFAFA;
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.boxed-social {
    margin: 25px 0 20px;
    font-size: 18px;
    line-height: 1;
}

.boxed-social a {
    font-size: 20px;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 36px;
    height: 36px;
    display: block;
    float: left;
    text-align: center;
    line-height: 36px;
    color: #ed6624;
    border-radius: 3px;
}

.boxed-social a:hover {
    color: #585858;
}

ul.address-list li {
    position: relative;
    line-height: 1.4;
    margin: 0 0 10px;
    padding-left: 25px;
}

ul.address-list li:last-child {
    margin: 0 !important;
}

ul.address-list li i {
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 16px;
    line-height: 1;
}

.infobox-inner ul.address-list li {
    margin: 0 0 8px;
    padding-left: 18px;
}

.infobox-inner ul.address-list li i {
    font-size: 12px;
}
#contact .container-fluid{
    padding-right: 100px;
    padding-left: 110px;
}
#contact .border{
    width: 134px;
    border: 1px solid #b1b1b1;
    margin-left: 212px;
}

/**
 * Social Share
 */

ul.social-share-sm {
    position: relative;
    display: inline-block;
    line-height: 1;
    float: left;
}

ul.social-share-sm li {
    display: inline-block;
    margin: 0 0 5px;
}

ul.social-share-sm li span,
ul.social-share-sm li a {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
}

ul.social-share-sm:after,
ul.social-share-sm li span:after,
ul.social-share-sm li a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    width: 1px;
    height: 13px;
    background: #E3E3E3;
}

ul.social-share-sm.pull-right {
    margin-right: -10px;
}

ul.social-share-sm.pull-right:after {
    display: none;
}

ul.social-share-sm li a:after {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 6px;
    right: -3px;
}

ul.social-share-sm li:last-child a {
    margin-right: 0;
}

ul.social-share-sm li:last-child a:after {
    display: none;
}

ul.social-share-sm li a {
    font-weight: 400;
    color: #999;
}

ul.social-share-sm li a:hover {
    color: #D65049;
}

ul.social-share-sm.for-useful {
    float: right;
}

ul.social-share-sm.for-useful:after {
    display: none;
}

ul.social-share-sm.for-useful li:not(:last-child) {
    margin-right: 10px;
}

ul.social-share-sm.for-useful li span {
    margin-right: 0;
}

ul.social-share-sm.for-useful li a {
    margin-right: 0;
    padding-right: 0;
}

ul.social-share-sm.for-useful li a:after {
    display: none;
}

.review-list ul.social-share-sm {
    margin-top: 20px;
}

/*analatical data*/
.anlatical_data{
    background-image: url("../../../www.divinepnc.com/wp-content/uploads/2016/05/big-datac438.jpg?x84263");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 60px 30px 40px 27px;
}
.anlatical_data h1{
     margin-top: -24px;
    margin-bottom: 31px;
    text-align: center;
    font-size: 37px;
}
.highcharts-credits{
    display: none;
}
.highcharts-container {
    width: 100% !important;
}
/*-----------------------------------------------------------about us-----------------------------------------------------------*/
#about{
    margin: 0;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0px;
}
#about h2{
    padding-bottom: 15px;
    font-size: 37px;
    margin-bottom: -5px;
}
#about h2:after{
    border-bottom: 1px solid #6f6f6f;
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 10%;
}
#about .border{
    border: 1px solid #b1b1b1;
    width: 120px;
    margin-left: 518px;
}
#about .row{
    text-align: left;
    margin: 0;
}
#about h3{
    font-size: 35px;
}
#about .col-md-6{
    padding: 0px 10px 0px 0px;
}
#about ol li{
    width: 12px;
    height: 12px;
    margin: 5px;
    border: 2px solid #d15a20;
    background: transparent;
}
#about .container-fluid {
    padding-right: 100px;
    padding-top: 65px;
    padding-bottom: 50px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}
.subheading{
    margin-bottom: 15px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 16px;
}
.donation-holders{
    background-image: url('../../../cdn-images-1.medium.com/max/2000/1_ToCUukn0jVXwAuYFFrJOIw.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.donation-holders .col-md-12{
    padding:50px 340px;
    background-color: #000000a8;
    text-align: center;
}
#about span{
    border-bottom: 1px solid #fff;
    color: #e4e4e4;
}


/**
 * Faq
 */

.faq-wrapper {
    padding-left: 15px;
}

.faq-wrapper h3 {
    margin: 0 0 25px;
}

.faq-section {
    border-bottom: 1px solid #E3E3E3;
    margin: 0 0 40px;
}

.faq-section h4 {
    margin: 8px 0 0;
}

.faq-section .panel-body {
    padding-top: 0;
    padding-bottom: 10px;
}

.faq-alt-2-wrapper {}

.faq-alt-2-wrapper .bootstarp-accordion .panel-heading {
    border-bottom: 1px dotted #E3E3E3;
    margin-left: 25px;
    padding: 15px 0;
}

.faq-alt-2-wrapper .bootstarp-accordion .panel-heading a {
    padding: 0;
    line-height: 1;
    font-size: 14px;
}

.faq-alt-2-wrapper .bootstarp-accordion .panel-heading a:before {
    content: '\f059';
    right: auto;
    left: -25px;
    top: -1px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    color: #F56961;
}

.faq-alt-2-wrapper .bootstarp-accordion .panel-heading.active a:before {
    content: '\f128';
}

.faq-alt-2-wrapper .panel-body {
    margin-left: 25px;
}

.for-faq-page .scrollspy-sidenav {
    padding-top: 0;
    border: 0;
}

.for-faq-page.scrollspy-sidebar .nav > li > a {
    padding-left: 0;
    border-left: 4px solid #FFF !important;
    border-right: 4px solid #FFF;
}

.for-faq-page.scrollspy-sidebar .nav > li > a:hover {
    border-right: 4px solid #F56961;
}

.for-faq-page.scrollspy-sidebar .nav > li > a:focus {
    border-right: 4px solid #EEEEEE;
}

.for-faq-page.scrollspy-sidebar .nav > .active > a,
.for-faq-page.scrollspy-sidebar .nav > .active:hover > a,
.for-faq-page.scrollspy-sidebar .nav > .active:focus > a {
    border-right: 4px solid #F56961 !important;
    border-left: 4px solid #FFF !important;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .faq-wrapper {
        padding-left: 0;
    }
}

@media (max-width: 479px) {}


/*carousel*/
.carousel{position:relative}
.carousel-inner{position:relative;width:100%;overflow:hidden}
.carousel-item{position:relative;
    display:none;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    width:100%;transition:-webkit-transform .6s ease;transition:transform .6s ease;transition:transform .6s ease,-webkit-transform .6s ease;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px}
.carousel-item-next,.carousel-item-prev,.carousel-item.active{
    display:block
}
.carousel-item p{
    color: #fff;
}
.carousel-item-next,.carousel-item-prev{
    position:absolute;
    top:0
}
.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{
    -webkit-transform:translateX(0);
    transform:translateX(0)
}
@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){
    .carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
}
.active.carousel-item-right,.carousel-item-next{-webkit-transform:translateX(100%);transform:translateX(100%)}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){
    .active.carousel-item-right,.carousel-item-next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}
.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translateX(-100%);transform:translateX(-100%)}
@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){
    .active.carousel-item-left,.carousel-item-prev{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}
.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5}
.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}
.carousel-control-prev{left:0}
.carousel-control-next{right:0}
.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}
.carousel-control-prev-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}
.carousel-control-next-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}
.carousel-indicators{width:auto;position:absolute;right:0;bottom:10px;left:0;z-index:15;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}
.carousel-indicators li{position:relative;-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;background-color:rgba(255,255,255,.5)}

.carousel-indicators li::before{position:absolute;top:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}
.carousel-indicators li::after{position:absolute;bottom:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}
.carousel-indicators .active{
    background-color: #d15a20 !important;
}
.carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}

/*end carousel*/
/*register*/
.detail{
    color: #fff;
    border-radius: 5px;
    border: 1px solid #f26724;
    padding: 5px 22px;
    font-size: 18px;
}
.interest{
    color: #fff;
    border-radius: 5px;
    border: 1px solid #f26724;
    padding: 5px 22px;
    font-size: 18px;
}
.register .form-control{
    margin-bottom: 10px;
}
.register .btn-success{
    background: #62d97b;
    border-color: #62d97b;
    color: #FFF !important;
}
.hide{
    display: none !important;
}
.register label{
    background-size: cover;
    background-position: center;
    color:#fff;
    margin-top: 20px !important;
    padding: 0px !important;
    width: 40%;
}
.register .orange{
    background: #f26724 !important;
}
.register .dark{
    background: #545454 !important;
}  
.register label:before{
    content: "";
}
.register label div{
    padding: 40px 0px !important;
}
.register .back-color{
    background-color: #00000078;
}
.click{
    background-color:#d25d27b0 !important;
}
/*.register label span{
    padding: 5px;
    background-color: #000;
}*/
/*eng of register*/