/* Large desktop :1920px. */
@media (min-width: 1920px) {/* Normal desktop :992px. */
    
}

/* Laptop Device :1366px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .single-slide {background-position: 50% center; background-size: cover;}
    
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {   
.ht-event-text {
  padding: 25px 15px 12px;
}

.text-content h1 {font-size: 50px;}
.ht-donate-wrapper {padding: 75px 0 92px;}
.donate-text > h2 {font-size: 27px;}
.ht-join-text {padding: 0;}
.help-text > p {font-size: 22px;}
.header-two-area .button-box {padding-left: 20px;}
.help-two-area .help-text-container > p {font-size: 18px;}
.events-two-area .event-time {left: 10px; padding: 0 0 0 13px; width: 97px;}
.events-two-area .s-team-wrapper > h4 {font-size: 19px;}
.events-two-area .s-team-wrapper {padding-left: 118px;}
.ht-about-feature-item {padding: 0;}

.blog-section .nav.nav-tabs {margin-right: 44px;}
.blog-section .ht-sidebar-widget {padding-right: 0;}
.post-style-two .ht-widget-p-text > h4 {line-height: 18px;}
.ht-widget-tags > li a {margin-right: 5px; padding: 5px 16px;}
.ht-sidebar-widget {padding-right: 0;}
.post-details-bar {padding-right: 64px;}
.cause-d-content-text {padding-left: 15px;}
.cause-d-content-text > span {line-height: 25px;}
.event-details-container {padding: 0 15px;}
.posts-details-container .event-details-container h1 {font-size: 23px;}
.event-timer {margin-bottom: 45px;}
.header-two-area .sticky .logo {padding: 24px 0;}
}
/* Tablet desktop :768px. */
@media (max-width: 991px) {
.hlp-img {
  margin-bottom: 30px;
  padding-right: 0;
}
.gallery-img {
  width: 50%;
}
.ht-video-bg {
  margin-bottom: 30px;
  margin-right: 0;
}
.contact-form-wrapper {margin-bottom: 30px; padding-right: 0;}

}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.testimonial-content p {
  padding-right: 98px;
}
.breadcrumb-text {
  padding: 100px 0 107px;
}
.menu-container {margin-right: 64px;}
.logo {padding: 32px 0;}
.search-content {line-height: 92px;}
.text-content h1 {font-size: 40px; margin-bottom: 7px;}
.text-content p {margin-bottom: 25px;}
.help-text > p {font-size: 20px;}
.section-title {margin-bottom: 50px;}

.events-area .section-title, .blog-area .section-title {margin-bottom: 40px;}
.ht-donate-wrapper {padding: 75px 0 92px;}
.donate-text > h2 {font-size: 21px;}
.donate-text > h5 {font-size: 14px;}
.donate-btn .default-btn {padding-bottom: 0; padding-left: 32px; padding-right: 32px;}
.donate-btn {padding-top: 4px;}
.footer-top > .container > .row > [class*="col-"]:nth-child(2n+1) {clear: both;}
.single-footer-widget .footer-info {padding-right: 0;}
.footer-address {padding-right: 0;}
.single-footer-widget {margin-bottom: 45px;}
.footer-list > li {margin-bottom: 14px;}
.footer-top {padding: 70px 0 10px;}
.header-two-area .logo {padding: 40px 0;}
.header-two-area .menu-container {padding: 0;}
.header-two-area .button-box {padding: 40px 0 32px;}
.header-two-area .mean-container a.meanmenu-reveal {margin-top: -64px;}
.slider-two-area .text-content > h1 {font-size: 57px;}
.help-text-container {margin-left: 0; padding-top: 50px;}
.ht-single-project {margin-bottom: 40px;}
.col-md-4:last-child .ht-single-project {margin-bottom: 0;}
.events-two-area .ht-single-event {margin-bottom: 40px;}
.events-two-area .col-md-6:last-child .ht-single-event {margin-bottom: 0;}
.gallery-two-area .gallery-img span {
    font-size: 22px;
    left: 10px;
    padding: 16px 0 21px;
    right: 10px;
    width: calc(100% - 20px);
}
.gallery-two-area .gallery-img:hover span {bottom: 10px;}

.pt-110 {padding-top: 80px;}
.help-style-two .ht-video-bg {height: 400px; margin: 0 0 -160px;}
.about-features-area {padding-top: 230px;}
.ht-about-feature-item > h3 {font-size: 21px; margin-bottom: 8px;}
.ht-about-feature-item {padding: 0;}
.blog-section .nav.nav-tabs {margin-right: 0; width: 35%;}
.ht-sidebar-widget .mc-form {width: 46%;}
.pagination {margin: 20px 0 60px;}
.blog-section .ht-sidebar-widget:last-of-type {margin: 0;}
.reply-comments {padding-left: 104px;}
.post-comments, .post-details-form {padding-top: 50px;}
.single-post-comments {margin-bottom: 40px;}
.ht-widget-banner {line-height: 0;}
.ht-widget-banner-hover {line-height: normal;}
.post-details-form {padding-bottom: 50px;}
.cause-two-area .pagination {margin-bottom: 0;} 
.cause-d-content-text {padding-left: 15px;}
.post-d-img {width: 39%;}
.cause-d-content-text .default-btn {margin-top: 8px;}
.ht-sidebar-widget:last-child {margin-bottom: 0;}
.contact-form-wrapper {padding-right: 0;}  
.event-section .pagination {margin-bottom: 0;}
.event-details-container {padding: 0; margin-bottom: 50px;}
.event-details-area {padding-bottom: 75px;}
.sticky .mean-container a.meanmenu-reveal {margin-top: -43px;}
.header-two-area .sticky .button-box {padding: 16px 0;}
.header-two-area .sticky .mean-container a.meanmenu-reveal {margin-top: -48px;}
}

/* small mobile :320px. */
@media (max-width: 767px) {

.breadcrumb-text h2 {
    font-size: 25px;
    line-height: 26px;
}
.breadcrumb-bar li a, .breadcrumb-bar li {
    font-size: 15px;
}
 .breadcrumb-text {
    padding: 20px 0 27px;
}   
 .ht-about-feature-item > span {
  margin-bottom: 15px;
}   
.testimonial-content p {font-size: 14px; line-height: 26px; margin-bottom: 12px; padding-right: 0px}
.testimonial-img {margin-right: 0}
.testimonial-content {padding-left: 0; display: inline-block; padding-top: 20px}
.testimonial-content::before {background: none}
.testimonial-area .owl-dots,.testimonial-img::after {display: none;}
.banner-btn .default-btn {
  line-height: 45px;
  padding: 0 33px;
}
.hlp-content > h4 {
  font-size: 32px;
  margin-bottom: 20px;
}
.hlp-content p strong {
  font-size: 19px;
}
.default-btn {
  line-height: 42px;
  padding: 0 29px;
}
.ht-cause-text {
  padding: 23px 20px 30px;
}
.ht-event-text {
  padding: 25px 20px 12px;
}
.section-title h1 {font-size: 30px;}
.gallery-area .section-title{
    padding: 0 15px;
}
.ht-header-msg {
  line-height: 27px;
  margin-right: 0;
  text-align: center;
  width: 100%;
}
.social-media {
  float: none;
  text-align: center;
  width: 100%;
}
.single-footer-widget .social-media {
  text-align: left;
}

.ht-header-btn {float: none;}
.ht-header-btn .default-btn {line-height: 38px; width: 100%;}
.logo {padding: 20px 0;}
.search-content {line-height: 65px; margin-right: 50px;}
.mean-container a.meanmenu-reveal {margin-top: -46px;}
.single-slide {background-position: center center;}
.slider-area {height: 300px;}
.text-content > h1 {font-size: 25px; line-height: 28px; margin-bottom: 9px;}
.text-content > p {font-size: 15px; margin-bottom: 15px;}
.slider-wrapper .owl-nav {display: none;}
.help-title {font-size: 31px; margin-bottom: 15px;}
.help-text > p {font-size: 16px; line-height: 32px;}
.section-title {margin-bottom: 30px;}
.ht-join-text {padding: 0;}
.ht-join-text > h1 {font-size: 23px; margin-bottom: 15px;}
.ht-join-text > p {font-size: 16px; margin-bottom: 20px;}
.events-area .section-title, .blog-area .section-title {margin-bottom: 20px;}
.event-time {bottom: 30px; right: 15px;}
.ht-s-testimonial > p {font-size: 16px;}
.carousel-style-2 .owl-dots {margin-top: 20px;}
.testimonial-area .gradient-overlay {padding: 52px 0 50px;}
.single-team {margin-bottom: 30px;}
.col-md-4:last-child .single-team {margin: 0;}
.gallery-img span {padding: 11px 0 16px;}
.gallery-img:hover span {bottom: 10px;}
.ht-donate-wrapper {padding: 45px 0 51px; text-align: center;}
.donate-text > h2 {font-size: 20px; line-height: 28px;}
.donate-text > h5 {font-size: 15px; line-height: 23px;}
.donate-btn {float: none;}
.donate-text {float: none;}
.s-footer-item:first-child {margin-bottom: 5px;}
.footer-address {padding-right: 0;}
.single-footer-widget .footer-info {padding-right: 0;}
.single-footer-widget {margin-bottom: 40px;}
.col-md-3:last-child .single-footer-widget {margin-bottom: 0;}
.header-two-area .button-box {padding: 16px 0;}
.header-two-area .default-btn {border: 1px solid #fc2c62; line-height: 29px; padding: 0 9px;}
.header-two-area .logo {padding: 40px 0 25px;}
.header-two-area .menu-container {padding: 0;}
.header-two-area .button-box {padding: 40px 0 21px;}
.header-two-area .mean-container a.meanmenu-reveal {margin-top: 8px; padding-right: 15px;}
.mobile-menu {display: block;}
.header-two-area .mean-container .mean-bar {
    background: #fc2c62 none repeat scroll 0 0;
    border-radius: 3px;
    min-height: 40px;
}
.header-two-area .mean-container .mean-bar::after {display: block;}
.header-two-area .mean-container .mean-nav {margin-top: 40px; position: inherit;}
.header-two-area .mean-container a.meanmenu-reveal {color: #ffffff;}
.header-two-area .mean-container .mean-nav ul li a.mean-expand:hover {color: #ffffff;}
.slider-two-area .text-content > h1 {font-size: 36px;}
.slider-two-area .text-content > h2 {font-size: 23px; margin-bottom: 14px; padding-top: 132px;}
.slider-two-area {height: 470px;} 
.ht-single-project {margin-bottom: 40px;}
.col-md-4:last-child .ht-single-project {margin-bottom: 0;}
.events-two-area .ht-single-event {margin-bottom: 40px;}
.events-two-area .col-md-6:last-child .ht-single-event {margin-bottom: 0;}
.gallery-two-area .gallery-img span {
    font-size: 22px;
    left: 10px;
    padding: 16px 0 21px;
    right: 10px;
    width: calc(100% - 20px);
}
.gallery-two-area .gallery-img:hover span {bottom: 10px;}
.ht-video-bg {height: 280px; margin-right: 0;}
.help-text-container {margin: 40px 0 0;}
.help-text-container > h1 {font-size: 31px; padding-bottom: 15px;}
.help-text-container > p {font-size: 19px;}
.help-text-container .progress-wrap {margin-right: 0;}
.help-text-container > span {font-size: 15px;}
.help-text-container .default-btn {display: block;}
.section-title > p {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.section-title.title-style-2 > h1 {margin-bottom: 12px;}
.section-title.title-style-2 {margin-bottom: 32px;}
.col-md-3:last-child .single-team {margin-bottom: 0;}
.events-two-area .event-time {
    bottom: auto;
    font-size: 28px;
    height: 39px;
    left: auto;
    line-height: 40px;
    padding-left: 8px;
    right: 5px;
    top: 5px;
    width: 90px;
}

.header-two-area .button-white .default-btn {border-color: #ffffff;}
.banner-area {background-position: 74% center;}
.help-style-two .ht-video-bg {height: 300px; margin: 0 0 -142px;}
.help-style-two .help-text {padding-bottom: 30px;}
.about-features-area {padding-top: 193px;}
.ht-about-feature-item {margin-bottom: 30px; padding: 0 18px;}
.col-md-4:last-child .ht-about-feature-item {margin-bottom: 0;}
.count-area .col-md-3:nth-child(1) .ht-single-count, .count-area .col-md-3:nth-child(2) .ht-single-count {
    margin-bottom: 30px;
}
.count-area {padding: 50px 0;}
.pagination {margin: 10px 0 50px;}
.blog-section .nav.nav-tabs {margin-right: 43px;}
.blog-section .ht-sidebar-widget {padding-right: 0;}
.ht-sidebar-widget:last-child {margin-bottom: 0;}
.post-style-two .ht-widget-p-text > h4 {line-height: 20px;}
.blog-section .post-details-img {margin-bottom: 30px;}
.blog-section .post-d-info {margin-bottom: 22px;}
.blog-section .post-details-wrapper {padding-bottom: 28px; padding-top: 26px;}
.blog-section .post-d-content .col-md-6:first-child img {margin-bottom: 25px;}
.blog-section .post-d-content {margin-bottom: 30px;}
.post-comments {padding-top: 40px;}
.blog-section .post-comments > h3 {padding-bottom: 25px;}
.post-comments-img {width: 61px;}
.post-comments-content {padding-left: 11px;}
.reply-comments {padding-left: 25px;}
.single-post-comments {margin-bottom: 33px;}
.post-details-form {padding-bottom: 45px; padding-top: 50px;}
.post-details-form > h3, .post-comments > h3 {padding-bottom: 30px;}
.post-details-form input {margin-bottom: 10px;}
.post-details-form textarea {padding-top: 10px;}
.ht-widget-banner {line-height: 0;}
.ht-widget-banner-hover {line-height: normal; padding: 0 22px;}
.post-d-content img {width: 100%;}
.cause-two-area .pagination {margin-bottom: 0;}
.post-details-bar {padding-right: 0; padding-top: 20px;}
.posts-details-container h1 {line-height: 33px; margin-bottom: 15px;}
.post-d-info > span {line-height: 26px;}
.post-d-info {margin-bottom: 20px;}
.post-details-wrapper {padding-bottom: 50px; padding-top: 24px;}
.post-details-wrapper > p:first-of-type {margin-bottom: 15px;}
.post-details-wrapper > p:last-of-type {margin-bottom: 30px;}
.post-d-img {float: none; margin-bottom: 30px;}
.cause-d-content-text {padding-left: 0;}
.ht-sidebar-widget {padding-right: 0;}
.ht-widget-tags > li a {margin-right: 3px; padding: 5px 17px;}
.ht-sidebar-widget.style-three {padding-right: 0;}
.contact-form-wrapper {margin-bottom: 30px; padding-right: 0;}
.event-section .pagination {margin-bottom: 0;}
.events-two-area .ht-single-event {margin-bottom: 30px;}
.event-details-container {padding: 0;}
.timer {float: none; width: 100%;}
.event-timer {margin-bottom: 22px; margin-top: 30px;}
.timer-btn {display: block; float: none; padding: 0; text-align: center; width: auto;}
.timer-btn button {margin-top: 25px;}
.posts-details-container .event-details-container h1 {font-size: 19px; margin-bottom: 5px;}
.event-details-container .post-details-wrapper {padding-top: 30px;}
.event-details-container .post-details-wrapper > p:nth-of-type(2) {margin-bottom: 35px;}
.event-details-container .post-details-wrapper > p:last-of-type {margin-bottom: 40px;}
.event-details-area {padding-bottom: 54px;}
.header-two-area .sticky .button-box {padding: 11px 0 10px;}
.header-two-area .sticky .logo {padding: 14px 0;}
.sticky .mean-container a.meanmenu-reveal {margin-top: -44px;}
form.search-pop-up, .search-pop-up input {width: 100%;}
.header-two-area .sticky .mean-container a.meanmenu-reveal {margin-top: 8px;}
.mb-sm-60{
    margin-bottom: 60px;
}
.pt-sm-60{
    padding-top: 60px;
}
.pt-sm-55{
    padding-top: 55px;
}
.pt-sm-50{
    padding-top: 50px;
}
.pt-sm-45{
    padding-top: 45px;
}
.pt-sm-40{
    padding-top: 40px;
}
.pt-sm-35{
    padding-top: 35px;
} 
.pb-sm-60{
    padding-bottom: 60px;
}
.pb-sm-55{
    padding-bottom: 55px;
}
.pb-sm-50{
    padding-bottom: 50px;
}
.pb-sm-45{
    padding-bottom: 45px;
}
.pb-sm-40{
    padding-bottom: 40px;
}
.pb-sm-35{
    padding-bottom: 35px;
}
.pb-sm-30{
    padding-bottom: 30px;
}
.pb-sm-20{
    padding-bottom: 20px;
}
.pb-sm-10{
    padding-bottom: 10px;
}
.ptb-sm-55{
    padding: 55px 0;
}
.ptb-sm-60{
    padding: 60px 0;
} 
.ptb-sm-0{
    padding: 0px 0;
}

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.ht-header-msg {
  line-height: 27px;
  margin-right: 0;
  text-align: center;
  width: 50%;
}
.blog-section .nav.nav-tabs {margin-right: 203px;}
.project-img img {width: 100%;}
.team-two-area .col-md-3 {float: left; width: 50%;}
.team-two-area {padding-bottom: 40px;}
.gallery-img img {width: 100%;}
.events-two-area .s-team-wrapper {bottom: 10px; position: absolute;}
.team-area.team-section {padding-bottom: 35px;}
.blog-section .nav.nav-tabs {margin-right: 203px;}
}